*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 500px;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../img/IMG_2340.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header .head-content{
    display: flex;
    justify-content: space-around;
    padding: 12px;
    top: 0;
    position: absolute;
}
header .head-content nav a{
    color: #fff;
    text-decoration: none;
    padding: 0 16px;
}
header .header-caption{
    text-align: center;
}
header .header-caption button{
    margin-top: 20px;
    padding: 12px 40px;
    color: #fff;
    background: transparent;
    border: 1px solid white;
    cursor: pointer;
}
header .header-caption button:hover{
    border:1px solid chocolate;
}
header .socials{
    bottom: 150px;
    position: absolute;
}
header .socials .fa-facebook{
    color: #1877F2;
    font-size: 25px;
}
header .socials .fa-whatsapp{
    color: #25D366;
    margin-left: 20px;
    font-size: 25px;
}
header .socials .fa-instagram{
    margin-left: 20px;
    font-size: 25px;
    color: #B134AF;
}
header .socials .fa-twitter{
    margin-left: 20px;
    font-size: 25px;
    color: #1DA1F2;
}
header .socials .fa-youtube{
    margin-left: 20px;
    font-size: 25px;
    color: #FF0000;
}
header .socials .fa-snapchat{
    margin-left: 20px;
    font-size: 25px;
    color: yellow;
}
/* End of socials */

.who{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.who .who-text{
    width: 48%;
    height: 400px;
    padding: 10px;
    margin-left: 10px;
}
.who .who-text p{
    margin-bottom: 10px;
}
.who .who-text a{
    text-decoration: none;
    color: rgb(148, 148, 250);
    padding: 7px;
}
.who .who-text a:hover{
    color: rgb(71, 131, 243);
}
.who .who-img{
    width: 45%;
    height: 400px;
    background: url("../img/IMG_2343.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
}
.who .who-text .we{
    color: rgb(100, 100, 33);
}
/* workdiv */
.works .work-div{
    margin-bottom: 70px;
    text-align: center;
    margin-top: 70px;
}
.works .work-div p{
    color: rgb(122, 122, 18);
}
/* end workdiv */

.works .work-special{
    display: flex;
    margin-bottom: 20px;
}
.works .work-special .special1{
    width: 25%;
    height: 300px;
    padding: 20px;
}
.works .work-special .special2{
    width: 25%;
    height: 300px;
    padding: 20px;
}
.works .work-special .special3{
    width: 25%;
    height: 300px;
    padding: 20px;
}
.works .work-special .special4{
    width: 25%;
    height: 300px;
    padding: 20px;
    margin-bottom: 50px;
}
/* end of work-special */

/* icon */
.fa-cog,.fa-globe,.fa-code,.fa-users{
    font-size: 45px;
    margin-bottom: 20px;
    color: slategray;
}
.works .para{
    color: rgb(122, 122, 18);
    margin-top: 20px;
}
.works h2{
    margin-bottom: 10px;
}
/* end of works */

.texts{
    display: flex;
}
.texts a{
    text-decoration: none;
    color: black;
    margin-left: 980px;
    border: 1px solid lightslategrey;
    padding: 5px; 
}
.texts a:hover{
    border: 1px solid lightslategray;
    padding: 5px;
    color: cornflowerblue;
}
.texts p{
    color: rgb(122, 122, 18);
    margin-left: 20px;
}
.team-text{
    margin-left: 20px;
}
.team{
    display: flex;
    padding: 20px;
    margin-top: 10px;
    /* justify-content: space-around; */
}
.team .team1{
    background: url("../img/IMG_2355.JPG");
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 400px;
    margin-right: 20px;
}
.team .team2{
    background: url("../img/IMG_2346.JPG");
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 400px;
    margin-right: 20px;
}
.team .team3{
    background: url("../img/builder.png");
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 400px;
    margin-right: 20px;
}
.team .team1 .yt1{
    text-align:left;
    padding: 20px;
    margin-top:300px ;
}
.team .team1 .yt1 p{
    color: chocolate;
    margin-top: 5px;
}
.team .team2 .yt2{
    text-align: left;
    padding: 20px;
    margin-top: 300px;
}
.team .team2 .yt2 p{
    color: chocolate;
    margin-top: 5px;
}
.team .team3 .yt3{
    text-align: left;
    padding: 20px;
    margin-top: 300px;
}
.team .team3 .yt3 p{
    color: chocolate;
    margin-top: 5px;
}
.team .team1 .yt1 h3{
    color: white;
}
.team .team2 .yt2 h3{
    color: white;
}
.team .team3 .yt3 h3{
    color: white;
}

@media screen and (max-width:600px){
    header .head-content{
        flex-direction: column;
    }
    header nav a{
        display: block;
        margin-left: -80px;
    }
    .logo, .head-contact{
        margin-left: -70px;
        color: chocolate;
    }
    header .socials{
        margin-bottom: 250px;
    }
    header .header-caption h1{
        font-size: 30px;
    }
    .who{
        flex-direction: column;
    }
    .who .who-text{
        width: 100%;
    }
    .who .who-img{
        width:100%;
        margin-top: -60px;
    }
    .works .work-special{
        flex-direction: column;
    }
    .works .work-special .special1{
        width: 100%;
    }
    .works .work-special .special2{
        width: 100%;
        margin-top: -40px;
    }
    .works .work-special .special3{
        width: 100%;
        margin-top: -40px;
    }
    .works .work-special .special4{
        width: 100%;
        margin-top: -40px;
    }
    .team{
        flex-direction: column;
    }
    .team .team1{
        width: 100%;
        margin-bottom: 10px;
    }
    .team .team2{
        width: 100%;
        margin-bottom: 10px;
    }
    .team .team3{
        width: 100%;
        margin-bottom: 10px;
    }
}
